@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'marsek';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/marsek.ttf') format('woff'),
  }

:root {
    --cor-primaria: #0C1844;
    --cor-secundaria: #FDF7FA;
    --cor-terciaria: #ea3d27;

    --fonte-primaria: "Nunito", sans-serif;
    --fonte-secundaria: "marsek";
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

header {
    height: 15%;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    padding: 0 0 0 5%;
}

.titulo {
    display: flex;
    align-items: center;
    height: 70%;
    font-size: 60px;
    font-family: var(--fonte-secundaria);
}

.menu {
    height: 30%;
    display: flex;
    gap: 2%;
}

.menu__link {
    font-size: 20px;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

main {
    height: 85%;
    display: flex;
    align-items: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.entrada__input {
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    height: 50%;
    background-color: var(--cor-primaria);
    border: none;
    outline: none;
    color: var(--cor-secundaria);
    resize: none;
    font-size: 20px;
    text-align: justify;
    font-family: var(--fonte-primaria);
    border-radius: 24px;

}

.entrada__input::placeholder {
    font-size: 24px;
    color: var(--cor-secundaria);
}

.entrada__input:hover {
    filter: brightness(110%);
}

.entrada__meio {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botao_extra{
    border-radius: 8px;
    height: 40%;
    width: 20%;
    font-size: 16px;
}

button:hover {
    color: var(--cor-secundaria);
    border: 3px solid var(--cor-secundaria);
    background-color: var(--cor-terciaria);
}

.entrada__fundo {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.entrada__fundo__alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    font-size: 14px;
}

.entrada__fundo__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto_alerta {
    color: var(--cor-terciaria);
    font-size: 20px;
}

.entrada__fundo__botoes {
    box-sizing: border-box;
    padding: 0px 4px 0px 4px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    border: 3px solid var(--cor-terciaria);
    background-color: var(--cor-secundaria);
}

.entrada__fundo__botao{
    height: 60%;
    width: 45%;
    border-radius: 16px;
    font-size: 20px;

}

.entrada__fundo__botao:hover {
    border: 3px solid var(--cor-secundaria);
    font-size: 22px;
}

.saida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 30%;
    height: 90%;
    background-color:var(--cor-primaria);
    align-items: center;
    border-radius: 24px;
    margin-left: 5%;
    margin-right: 5%;
    border: 4px solid var(--cor-terciaria);
    gap: 8%;
}

.saida__imagem {
    width: 60%;
    height: 45%;
}

.saida__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 96%;
    height: 15%;
    font-size: 36px;
}

.saida__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 96%;
    height: 15%;
    font-size: 24px;
}

.button__desativado {
    cursor: not-allowed;
    opacity: 60%;
}

.button__escondido {
    visibility: hidden;
}

.saida__resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 70%;
    width: 100%;
}

.saida__resultado__texto {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: justify;
    overflow-wrap: break-word;
    font-size: 20px;
}

.saida__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 96%;
    box-sizing: border-box;
}

.saida__botao__copiar {
    box-sizing: border-box;
    height: 36%;
    width: 35%;
}