@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'marsek';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/marsek.ttf') format('woff'),
  }

  @font-face {
    font-family: 'davinci';
    font-style: normal;
    src: local(''),
        url('./fonts/da-vinci/P22 Da Vinci Forward.ttf') format('woff'),
  }

  @font-face {
    font-family: 'pharellia';
    font-style: normal;
    src: local(''),
        url('./fonts/Pharellia Redusha.otf') format('woff'),
  }



:root {
    --cor-primaria: #0C1844;
    --cor-secundaria: #FDF7FA;
    --cor-terciaria: #C80036;
    
    --cor-hover: #06142E;
    --cor-sombra: #d4d4d4;
    --cor-bordas: #E88D67;

    --fonte-primaria: "Nunito", sans-serif;
    --fonte-secundaria: "marsek";
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

header {
    height: 15%;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    padding: 0 0 0 5%;
}

.titulo {
    display: flex;
    align-items: center;
    height: 70%;
    font-size: 60px;
    font-family: var(--fonte-secundaria);
}

.menu {
    height: 30%;
    display: flex;
    gap: 2%;
}

.menu__link {
    font-size: 20px;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

main {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.sobre {
    margin: 2% 5% 2% 5%;
    display: flex;
    height: 100%;
    width: 90%;
    gap: 10%;
}

.sobre__texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 3%;
}

h2 {
    text-align: center;
    padding: 4% 0% 4% 0%;
}

.sobre__assets {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%
}

.sobre__assets__imagem {
    height: 80%;
    width: 55%;
    border-radius: 16px;
}

.sobre__assets__botoes {
    height: 29%;
    width: 80%;
    display: flex;
    gap: 10%;
    font-family: 'marsek';
}

.sobre__assets__botoes_coluna {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.botoes__links {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    width: 100%;
    height: 45%;
    border-radius: 16px;
    font-size: 20px;
    text-decoration: none;
    gap: 2px;
    cursor: pointer;
}

.botoes__links:hover{

    border: 4px solid var(--cor-secundaria);
}

.citacao{
    font-family: "pharellia", cursive;
    font-style: normal;
    font-size: 28px;
}

footer{
    
    height: 15%;
    width: 100%;
    background-color: var(--cor-terciaria);

}